<div class="container">
  <h1>Add movie to <strong><%= @list.name %></strong></h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, prompt: "Select your movie" %>
    <%= f.input :comment %>
    <%= f.submit "Add movie"%>
  <% end %>
</div>
